---
import '../styles/nav.css'
import { Image } from 'astro:assets'
const { title, to, inactive, active } = Astro.props
const currentPath = Astro.url.pathname

// Naive, but I don't care :D
const isActive = title === 'Home' ? currentPath === '/' : currentPath.includes(to)
---

{isActive && <Image class='pixel' loading="eager" src={active} alt={title} />}
{!isActive && (
  <a class="nav-link" href={to} alt={title}>
    <Image class='pixel' loading="eager" src={inactive} alt={title} />
  </a>
)}
